env:
  global:
    secure: H/AINY1VxL9uUXPFFeRhuaprT3pdHGszZ1JbdILub7J1Bmbqbk2Wb7F12Sqg9NXjiAT0P0LYZHYxhR6hZqklp+BaMxnuZ1cP5LvpThbcxk9pDEVsV1cA8vuHaZLCBL3O0G5C6QYfr9b5kxxAbQcy6juITGcuvKlZbIc4INbe9NagxraNzH0zi+PLQj+9L4bq2XT83b+BmVkKxGaLD2zzcz9eUZRhWj/l+m6V9KFRvUxgCCNoO7hgkjZdZt48Mk9IqlhZUmPvN3xb5GD7t4d/J5DARbjju4ZRiWabD3hT3Oa9F+02L/6oiIA/7ceOiEUFrH7zaWde+MwqVqw05qeSV+skkHRMKoKDUdCdjrY+rN5uifQG+CZjnPcnXo2mdAEl/EHRCkQrZmGuFhGXMGtWC+cX/7EziVeSrAbCcYYWLOvuVSmlQNn8iKuuXqP8Tnn07zrR0I8eyjgrpeEw1z7WQ2N5syZaKIEw32ih+SNeigwg2Ga92aBdB7/9MkqoGEJCcOGBNRIJO4OssCbp7gxCQHNGU2YWbbjIQog20U+5iKwWK/KAaYa6ln3aS4OwUFyAG1iEWyYRHHG3y19efZbxpkebKBK5klEfKqSp0ZmpgPBKsY6+Eh9Q7CE0LVmvKv23oELON5Z6LPBAxaLgfNZ2iO0BndVAr0DRTTK3NIUvo8I=

language: ruby
rvm:
  - 2.4

matrix:
  include:
    - os: osx
      osx_image: xcode8   # osx 10.11
    - os: osx
      osx_image: xcode9.2 # osx 10.12
    - os: osx
      osx_image: xcode9.4 # osx 10.13

sudo: required

before_install:
  - brew update
  - brew install ruby-build

script:
  make ruby
