matrix:
  include:
      # osx 10.11
    - os: osx
      osx_image: xcode7.3
      # osx 10.11
    - os: osx
      osx_image: xcode8.2

sudo: required

before_install:
  - brew update
  - brew install ruby-build

script:
  make ruby
